<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ECommerce Automation Suite">

    <test name="All Tests">
        <classes>
            <class name="org.example.test.AddToCardTest"/>
            <class name="org.example.test.CarTest"/>
            <class name="org.example.test.CartTest"/>
            <class name="org.example.test.CheckOutTest"/>
            <class name="org.example.test.LoginTest"/>
            <class name="org.example.test.SearchTest"/>
        </classes>
    </test>

</suite>
